{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nashville Legislation</title>
    {%include "styles.html"%}
</head>
<body>
    {%include "navbar.html"%}
    <div class="container-fluid">
        <div class="row text-center">
            <h1>Welcome to Nashville Legislation!</h1>
        </div>
        <div class="row">
            <img src="{% static "photos/nash_word_cloud.png" %}" alt="word cloud" class="img-responsive center-block">
        </div>
    </div>
    <!-- scripts -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/javascripts.js"></script>
</body>
</html> 