<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid custom-navbar-container">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="{% url 'website:index' %}">Nashville Legislation Home</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{% url 'website:council' %}">Council Members</a>
            </li>
            <li>
                <a href="{% url 'website:bills' %}">Ordinances</a>
            </li>
            <li>
                <a href="{% url 'website:resolutions' %}">Resolutions</a>
            </li>
        </ul>
    </div>
</nav>