{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nashville Legislation</title>
        {%include "styles.html"%}
    </head>
    <body>
        {%include "navbar.html"%}
        <h1 class="text-center page-title">Resolutions for the Current Administration</h1>

        <div class="row">
        {% for resolution in resolution_list %}
            <div>
                <div class="card-container text-center bluecard">
                    <div class="row content-holder">
                        <div>
                            <h2>{{ resolution.name }}</h2>
                            <h4><a href="{% url 'website:resolution_voting' resolution.id %}">Click to see Voting on {{ resolution.name }}</a></h4>
                        </div>
                        <div>
                            <p class="text-left card-text">{{ resolution.name}} {{ resolution.synopsis }}</p>
                            <h4><a href="{{ resolution.link_to_resolution }}" target="_blank">Click to see full body of Resolution {{ resolution.name }}</a></h4>
                        </div>
                    </div>
                </div>
            </div>  
        {% endfor %}
        <div>

    </body>
</html>